<div class="container">
    <div class="responsive-text">
        <div class="row">
            <br/>
            <h1>Seat reservation complete!</h1>
            <p>Thank you for your interest in <span style="font-family:EMPrint-SemiBold">EM</span>talks | <span class="xregular">UNITITLED</span>! We have received your information and will notify you about completing your registration in September.</p>
            <br/>
            <p>Click below to save the date on your calendar now! 
            </p>
            <h1><a class='btn-primary' href="https://ishareteam4.na.xom.com/sites/ONE_EMIT/EMtalks/Shared%20Documents/EMtalks%20-%20Save%20the%20Date.ics" download="EMTalks_Save_the_date">Save the Date</a></h1>
            
        </div>
        <br/>
    </div>
</div>