<div class="faqContainer">
    <div class="row">
        <br/>
        <h1 style="color:#D42E12">The details</h1>
    </div>
    <div class="row">
         <dl class="FAQList">
            <dt><h3>The event</h3></dt>
            <dd><span style="font-family:EMPrint-SemiBold">EM</span>talks is a place where creativity and individuality is celebrated. 
            The day-long event invites you to listen to thought-provoking, inspiring, and personal stories that come from our people all over the company. 
            You can think of it as a place where our most passionate people gather to listen to, share with, and challenge each other to make the world just a little bit better.         
            </dd>
            <dt><h3>The theme</h3></dt>
            <dd>Sometimes, the corporate world seems like an endless sea of titles, they may explain what you do from 8 to 5, but you are so much more. 
                <span class="xregular">Untitled</span> shines a light on all the hats you wear in and out of office. 
                What do you do when you’re done with your work day 1 template ? 
                Are you a creative writer? Are you a firefighter? 
                Perhaps you are a crazy cat lady? In the world of <span class="xregular">untitled</span>, you are entitled to as many hats as you want. And they all get the spotlight.</dd>
            <dt><h3>The sponsors</h3></dt>
            <dd>ONE EMIT and #innovation. </dd>
            <dt><h3>Nominate</h3></dt>
             <dd>Anyone that works for ExxonMobil can be nominated, regardless of years of service or position. 
                 The only requirements are inspiring personality, a story to tell and eagerness to take it to the 
                 <span style="font-family:EMPrint-SemiBold">EM</span>talks stage. Speakers are selected through a companywide nomination process.  </dd>
            <dt><h3>Get involved</h3></dt>
            <dd>The more the merrier! We’ve got a big team, but always happy to grow. Contact 
                <a href="mailto:muhammed.al-rukabi@exxonmobil.com?Subject=EMtalks%20Volunteer" style="color:#0C479D">Muhammed Al-Rukabi</a>. </dd>
         </dl>
         <br/>
    </div>
</div>