<div id='main' class="homeContainer">
	<div class="firstContainer">
		<div class="responsive-text">
			<div class = "row">
				<h2 class='preTitle'>ExxonMobil presents</h2>
			</div>
			<div class = "row">
				<h1 class="title logo">EM<span style="font-family:EMPrint-Regular">talks</span> | <span id="untitledTitle">UNTITLED</span></h1></div>
			<div class = "row">
				<h4 id='date'>October 20, 2016 @ the Energy Center</h4>
			</div>	
		</div>	
	</div>


	<div class="secondContainer">
		<div class="container row">
			<h2 class="col s8 offset-s2 top">Passion – a strong inclination toward an activity that people like,
				that they find important, and in which they invest time and energy.</h2> 
			<br/>
			<h3 class="col offset-s2 s8 middle"> 
				<p>This year's <span style="font-family:EMPrint-SemiBold">EM</span>talks | <span class="xregular">UNTITLED</span> is about just that - passion. Embracing our full selves 
				and knocking down barriers. What do you do that goes beyond your job title? </p></h3>
			
		</div>	
	</div>

	<div class="thirdContainer row">
		<div id="dateLinkCont" class="container right col s12 m3 l2 offset-l2">
			<a href="#/savethedate">
				<img src="img/buttonStrip/dt.png">
			</a>
			<p class="title">Save the Date</p>
		</div>
		<div id="infoLinkCont" class="container right col s12 m3 l2 ">
			<a href="#/details">
				<img src="img/buttonStrip/info.png">
			</a>
			<p class="title">What is <b>EM</b>Talks?</p>
		</div>
		<div id="speakerLinkCont" class="container right col s12 m3 l2 ">
			<a href="#/speakers">
				<img src="img/buttonStrip/spkr.png">
			</a>
			<p class="title">Meet the Speakers</p>
		</div>
		<div id="vidLinkCont" class="container right col s12 m3 l2 ">
			<a href="https://ishareteam4.na.xom.com/sites/ONE_EMIT/TEDxEM/site/home.html#nominate">
				<img src="img/buttonStrip/vid.png">
			</a>
			<p class="title">Watch last years videos</p>
		</div>
	</div>



	<!--<div class="thirdContainer row">
		<div id="faqLinkCont" class="container right col s6 ">
			<div  class="content responsive-text">
				<p>What is this all about?</p>
				<h1><a class="btn-primary" ng-href="#/details">Learn more!</a></h1>
			</div>
		</div>
		
		<div id="nomLinkCont" class="container left col s6">
			<div class="content responsive-text">
				<p>Still curious? Watch last year's videos!</p>
				<h1><a class="btn-primary" href="https://ishareteam4.na.xom.com/sites/ONE_EMIT/TEDxEM/site/home.html">Watch Now!</a></h1>
			</div>
		</div>
	</div>

	<div class="fourthContainer row">
		<div id="attendCont" class="container">
			<div class="content responsive-text">
				<p>Want to reserve your seat for this year's EMtalks?</p>
				<h1><a class="btn-primary" href="#/savethedate">Save the Date</a></h1>
			</div>
		</div>
	</div>-->



<!--Homecontainer--> 
</div>
