<div class="applyContainer">
    <div class="responsive-text">
        <div class="row">
            <h1>Attendee save the date</h1>
            
            <div class="col s12">
                Please fill out the following form to reserve your seat for 
                <span style="font-family:EMPrint-SemiBold">EM</span>talks | 
                <span class="xregular">UNTITLED</span>.
            </div>

            <div class="col s12"> 
             You will receive additional instructions to complete your registration in September.
            </div> 

        </div>
        <div class="row">
            <div class="col s6 name"><h2>{{userName}}</h2></div>
        </div>

        <!--            Attendee Questions        -->
        
        <form class="normal ng-pristine ng-valid" ng-submit="register()">

            <!-- Question 1 -->
            <div class="row">
                <div class="col s12 m12">
                    <label for="q1">In your opinion, what word best represents the work you do at ExxonMobil?</label>
                    <input type="text" placeholder="" id="q1" ng-model="Occupation" required />                    
                </div>
            </div>

            <!-- Question 2 -->
            <div class="row" id="email">    
                <div class="col s12 m12">
                    <label for="q2">What word best symbolizes you as a person?</label>
                    <input type="text" placeholder="" id="q2" ng-model="Symbol">
                </div>
            </div>

            <!--Question 3 -->
            <div id='email' class="row">
                <div class="col s12 m12">
                    <label for="q3">What is your self-proclaimed power?</label>
                    <input type="text" id="q3" placeholder="" ng-model="Power" />
                </div>
            </div>

            <!-- Question 4 -->
            <div class="row" id="speakerDetailsRow">
                <div class="col m12">
                    <label for="q4">What do you like to do outside of work?</label>
                    <textarea ng-model="Hobbies" placeholder="" id="q4"></textarea>
                </div>
            </div>

            <div class="row" id="submitBtnRow">
                <input type="submit" class="btn-primary pull-right" value="Submit" id="submitButton"/>
            </div>
        </form>
    </div>
</div>