<div class="container">
    <div class="responsive-text">
        <div class="row"><br/></div>
        <div class="row">
            <h1>Speaker nomination complete!</h1>
            <p>Thank you for nominating a speaker for <b>EM</b>talks | <span class="xregular">UNITITLED</span>! We have received
            your nomination and will include it in our review process.</p>
            <br/>
        </div>
        <div class="row">
            <h1><a class="btn-primary" href="#/">Home</a></h1>
            <br/>            
        </div>
    </div>
</div>