<div class="responsive-text">
    <div class="teamContainer">
        <div class="row">
            <h1>Meet the planning team</h1>
             <!--<div id="teamPic">
                 <img src="http://pad3.whstatic.com/images/thumb/b/b5/Unlock-Every-Super-Smash-Bros.-Brawl-Character-Step-5.jpg/aid790306-728px-Unlock-Every-Super-Smash-Bros.-Brawl-Character-Step-5.jpg"/>
            </div>-->
        </div>
        <div id="teamLeadership" class="row">
            <h2>EM<span style="font-family:EMPrint-Regular">talks</span> sponsors</h2>
            <p>Keith Yeager</p>
            <p>Russel Householder</p>
            <br/>
            <h2>EM<span style="font-family:EMPrint-Regular">talks</span> leadership</h2>
        </div>
        <div class="row">
            <table class="teamList">
                <tr>
                    <th><h4>Chairs</h4></th>
                    <th><h4>Event lead</h4></th>
                    <th><h4>Project manager</h4></th>
                    <th><h4>Creative director</h4></th>
                </tr>
                <tr>
                    <td><p>Jeff Rosenbaugh<br/></p>
                        <p>Jason Malwitz<br/></p></td>
                    <td><p>Muhammed Al-Rukabi<br/></p></td>                    
                    <td><p>Jason Lee<br/></p></td>             
                    <td><p>Vicky Flores<br/></p></td>     
                </tr>
            </table>
            <br/>
        </div>
        <div id="teamLeadership" class="row">        
            <h2>EM<span style="font-family:EMPrint-Regular">talks</span> committees</h2>
        </div>
        <div class="row">
            <table class="teamList">
                <tr>
                    <th><h4>Website & technology</h4></th>
                    <th><h4>Attendee experience</h4></th>
                    <th><h4>Speaker development</h4></th>
                    <th><h4>Town hall</h4></th>
                </tr>
                <tr>
                    <td>
                        <p id="lead">Adriana Contreras<br/></p>
                        <p id="lead">Anuar Jauregui<br/></p>
                        <p>Louis Iaeger</p>
                        <p>Salah Atiyeh</p>
                        <br/>
                    </td>
                    <td>
                        <p id="lead">Elizabeth Ulam<br/></p>
                        <p>Jacquelyn Brenna</p>
                        <p>Brooke Buckmaster</p>
                        <br/>
                    </td>
                    <td>
                        <p id="lead">Uma Pattarkine <br/></p>
                        <p id="lead">Kelley Wang<br/></p>
                        <p>Chris Hart</p>
                        <p>Kyle Krieger</p>
                        <p>Andrea Cato</p>
                        <p>Nathan Evans</p>
                        <p>Donald Meyer</p>
                        <p>Katherine Van Hoozer</p>
                        <p>Lily Chen</p>
                        <br/>
                        </td>
                    <td>
                        <p id="lead">Fernando Mladineo<br/></p>
                        <p id="lead">Daetta Tuck<br/></p>
                        <p>Dustin Youngberg</p>
                        <p>Janelle Gaedke</p>
                        <p>Freida Campbell</p>
                        <p>Ingrid Enriquez</p>
                        <p>Whitney Hughes</p>
                        <p>Ana Lucuta</p>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th><h4>Production & videography</h4></th>
                    <th><h4>Marketing & design</h4></th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p id="lead">Matt McKissick<br/></p>
                        <p id="lead">Theresa Savoy<br/></p>
                        <p>Joshua Lecour</p>
                        <p>Saif Ahmed</p>
                        <p>Aaron Yoder</p>
                        <br/>
                    </td>
                    <td>
                        <p id="lead">Mehriban Efendi<br/></p>
                        <p id="lead">Sarah Yung<br/></p>
                        <p>May Segovia</p>
                        <p>Kristina Rud</p>
                        <p>Kelsey Fuller</p>
                        <br/>
                    </td>
                    <td></td>
                </tr>
         </table>

        </div>
        <div class="row">
            <div class="responsive-text">
                <span style="font-style:italic;">Italic font denotes team leads.</span>
            </div>
        </div>
    </div>
</div>